<div class="container">
  <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">

    <div class="ui-g">
      <div class="ui-g-12">
        <h1>{{ editando ? 'Edição de ': 'Novo'}} Produto</h1>
      </div>

      <div class="ui-g-12 ui-md-12 ui-fluid">
        <label>Nome</label>
        <input pInputText type="text" name="nome"
          [(ngModel)]="produto.nome"
          #nome="ngModel" required minlength="5">

        <app-message [control]="nome" error="required"
          text="Informe o nome"></app-message>
        <app-message [control]="nome" error="minlength"
          text="Mínimo de {{ nome.errors?.minlength?.requiredLength }} caracteres"></app-message>

      </div>

      <div class="ui-g-12 ui-md-12 ui-fluid">
        <label>Descrição</label>
        <input pInputText type="text" name="descricao"
          [(ngModel)]="produto.descricao"
          #nome="ngModel" required minlength="5">
      </div>

      <div class="ui-g-12 ui-md-12 ui-fluid">
        <label>Preço</label>
        <input pInputText type="text" name="preco" placeholder="0,00"
          currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', allowNegative: false }"
          [(ngModel)]="produto.preco"
          #nome="ngModel" required>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" [disabled]="f.invalid" style="margin-right: 5px"></button>
        <button pButton type="button" label="Novo" class="ui-button-info" style="margin-right: 5px"
        (click)="novo(f)"
        ></button>
        <a routerLink="/produtos">Voltar para a pesquisa</a>
      </div>
    </div>

  </form>
</div>